[Unit]
Description=Auto Switcher for eGPU
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/xswitcher

[Install]
WantedBy=multi-user.target
